---
 - name: Deploy application
   hosts: app
   become: true

# TASKS

   tasks:
   - name: Fetch the latest version of application code
     git:
      repo: 'https://github.com/express42/reddit.git'
      dest: /home/{{ deploy_user }}/reddit
      version: monolith
     tags: deploy-tag
     notify: restart puma

   - name: Bundle install
     bundler:
      state: present
      chdir: /home/{{ deploy_user }}/reddit
     tags: deploy-tag

# HANDLERS

   handlers:
   - name: restart puma
     systemd: name=puma state=restarted

...
